# API endpoint
VITE_API_BASE_URL=/api/v1

# Mapbox GL JS access token (optional; carto/raster demo fallback enabled if left empty)
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiZGFydWthYS1lYXJ0aCIsImEiOiJjbHR0ZW93b3gwMGNnMm1vNWZ6dTF6eGhzIn0.demo
